/*
*
*	1. 99% of themes have a max width set on a center colum. We have to "break" this so our components can go full width
*
*	Notes:
*	- This is the CSS method of getting full width components within a content width setup
*	- There are other methods of doing this, for example using calc() to set negative margins or even js (meh)
*	- The .scroll-nav__section is used when using Chapter and Timeline component so we have to break this as well or else it inherits site width
*	- .aesop-on-canvas is given by Aesop and detects the current theme. It's used here for specificity instead of using !important
*	- We're also only targeting .single-post, so you'll need to change and iterate if you'll be using on post types and such
*/

.aesop-on-canvas.single-post #wrapper,
.aesop-on-canvas.single-post .col-full,
.aesop-on-canvas.single-post #main article .scroll-nav__section {
	max-width:100%;
	padding-left:0;
	padding-right:0;
}

/**
*
*	2. Since we essentially busted the max width of our single post page, we have to manually reset it on a few elements
*
*	Notes:
*	- .aesop-content is applied to some components when user sets "content" width so must match site width
*	- Our two special selectors at the bottom, the first will set a width on any item within .entry that's not an aesop component
*	- The last special selector does the same thing, but within the chapter component because we wrap chapters in a scroll-nav__section
*	- 960px is the default width of WooThemes Canvas so feel free to change
*/
.aesop-content,
.aesop-on-canvas.single-post #header.col-full,
.aesop-on-canvas.single-post #navigation.col-full,
.aesop-on-canvas.single-post #post-author,
.aesop-on-canvas.single-post #footer.col-full,
.aesop-on-canvas.single-post #footer-widgets,
.aesop-on-canvas.single-post article header,
.aesop-on-canvas.single-post article .post-meta,
.aesop-on-canvas.single-post article .post-utility,
.aesop-on-canvas.single-post .post-entries,
.aesop-on-canvas.single-post .entry > *:not(.aesop-component),
.aesop-on-canvas.single-post .scroll-nav__section > *:not(.aesop-component){
    width: 100%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

/**
*
*	3. Here we're just tweaking the padding for Canvas when the Sticky Map option is used within Map component
*
*/
.aesop-on-canvas.aesop-sticky-map.aesop-sticky-map-left {
	padding-left:270px;
	padding-right:20px;
}
.aesop-on-canvas.aesop-sticky-map.aesop-sticky-map-right {
	padding-right:270px;
	padding-left:20px;
}